html {
  background: #fdfdfd;
  color: #111;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  a {
    color: #eb4a41;
    font-weight: bold;
    text-decoration: none;

    &:current {
      color: #0a0;
    }
  }

  @media (prefers-color-scheme: dark) {
    background: #111;
    color: #fdfdfd;
  }

  @media (prefers-color-scheme: light) {

  }

  body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      background-color: #f8f8f8;
      position: sticky;
      top: 0;
      left: 0;
      right : 0;
      padding: 0em 0.5em 0em 0.5em;
      @media (prefers-color-scheme: dark) {
        background-color: #222;
      }

      img {
        height: 3em;
        vertical-align: middle;
        margin-right: 1em;
      }

      h1 {
        vertical-align: middle;
        margin: auto;
        @media screen and (min-width: 768px) {
          margin-left: 1em;
        }
        font-size: 1.3em;
      }
    }

    footer {
      display: flex;
      position: relative;
      color: #888;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      font-size: smaller;
      margin: 0.5em;
      margin-top: auto;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        margin: 0.2em;
        margin-top: auto;
      }

      :first-child {
        @media screen and (min-width: 768px) {
          margin-right: auto;
        }
      }

      :last-child {
        @media screen and (min-width: 768px){
          margin-left: auto;
        }
      }
    }

    article {
      @media screen and (min-width: 749px) {
        margin: 0em 2em 0em 2em;
      }

      @media screen and (max-width: 749px) {
        margin: 0em 0.5em 0em 0.5em;
      }
    }

    h1 {
      text-align: center;
      font-weight: bold;
    }
  }
}