html {
  background: #eee;
  color: #111;

  @media (prefers-color-scheme: dark) {
    background: #111;
    color: #eee;
    a {
      color: #e44;
    }
  }

  @media (prefers-color-scheme: light) {

  }

  body {
    article {
      margin: 0em 2em 0em 2em;
    }
    h1 {
      text-align: center;
      font-weight: bold;
    }
  }
}